@import '../functions/ems';

$fs-tiny: em(11);
$fs-small: em(13);
$fs-base: em(16);
$fs-large: em(18);

$fs-headline: em(38);

$fs-h1: em(57);
$fs-h2: em(24);
$fs-h3: em(20);
$fs-h4: em(18);
$fs-h5: em(16);
$fs-h6: em(16);